{
    "Accept": "*/*",
    "Accept-Language": "",
    "Authorization": "",
    "Content-Type": "application/json",
    "X-Goog-AuthUser": "0",
    "x-origin": "https://music.youtube.com",
    "Cookie": ""
  }
  